.card {
    background-color: lightcoral;
    padding: 14px;
    border-radius: 18px;
    height: 400px;
    width: 300px;
}

.container {
    /* чтобы включить флексбоксы */
    display: flex;
    /* justify выравнивает по основной оси */
    /* flex-end - в конце */
    /* flex-start - в начале */
    /* center - в середине - слиплись */
    /* space-between - все пустое между элементами */
    /* space-around - элементы распредлены более равномерно */
    justify-content: center;
    gap: 20px;
}

.container-2 {
    display: flex;
    /* row - строка, column - столбец */
    flex-direction: column;
    gap: 24px;
}

.container-3 {
    display: flex;
    flex-wrap: wrap;
    /* Syntax: <'row-gap'> <'column-gap'>? */
    gap: 24px 50px;
}