html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(100deg, #cce8f4, #fbe7f5);
  font-family: Arial, sans-serif;
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 25px;
  padding-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 12px;
  opacity: 0;
  animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

h4 {
  padding-top: 25px;
  padding-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
}
.compact {
  padding-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
}
p.compact{
padding-bottom: 10px;
}
p,
h4 {
  line-height: 1.6;
}

img {
  margin: 16px 0;
}
code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
}
.banderogus-launch {
  padding: 12px 24px;
  background: #ff6b0a;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}